# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#参见https://help.github.com/articles/ignoring-files/有关忽略文件的详细信息。

# dependencies  #从属关系
/node_modules
/.pnp
.pnp.js

# testing       #测试
/coverage

# production    #生产
/build

# misc          #杂项
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
